# === Core Django ===
Django==5.1.8
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==23.5
djangorestframework-simplejwt==5.3.1
channels==4.0.0
asgiref==3.8.1

# === Environnement et configuration ===
python-decouple==3.8
python-dotenv==1.1.0

# === Gestion des fichiers / PDF / Rapports ===
reportlab==4.0.9
xhtml2pdf==0.2.15
fpdf==1.7.2
svglib==1.5.1
pdfkit==1.0.0
Wand==0.6.13

# === Utilitaires divers ===
validators==0.22.0
phonenumbers==8.13.18
pytz==2024.1
tzlocal==5.2
six==1.17.0
requests==2.32.3

# === Déploiement ===
gunicorn==21.2.0
